[submodule "src/modules/BWindow"]
	path = src/modules/BWindow
	url = https://github.com/benedevrepo/BWindow
[submodule "modules/BWindow"]
	path = modules/BWindow
	url = https://github.com/benedevrepo/BWindow
